<div class="achivements">
  <ul class="list list-inline">
    <li class="list-item">
      <div class="achivement">
        <span class="achivement__no">10+</span>
        <span class="achived">Years Experience</span>
      </div>
    </li>
    <li class="list-item">
      <div class="achivement">
        <span class="achivement__no">143</span>
        <span class="achived">Completed Project</span>
      </div>
    </li>
    <li class="list-item">
      <div class="achivement">
        <span class="achivement__no">114</span>
        <span class="achived">Happy customers</span>
      </div>
    </li>
    <li class="list-item">
      <div class="achivement">
        <span class="achivement__no">20+</span>
        <span class="achived">Honors and Awards</span>
      </div>
    </li>
  </ul>
</div>
