<ul class="list list-inline socials">
  <li class="social--item">
    <svg class="icon">
      <use xlink:href="../icons/sprite.svg#twitter"></use>
    </svg>
  </li>
  <li class="social--item">
    <svg class="icon">
      <use xlink:href="../icons/sprite.svg#github"></use>
    </svg>
  </li>
  <li class="social--item">
    <svg class="icon">
      <use xlink:href="../icons/sprite.svg#linkedin"></use>
    </svg>
  </li>
  <li class="social--item">
    <svg class="icon">
      <use xlink:href="../icons/sprite.svg#behance"></use>
    </svg>
  </li>
</ul>
